  /* 1. Base */
  body,
  html {
      height: 100%;
      margin: 0;
      font-family: 'Ubuntu', sans-serif;
      line-height: 160%;
      text-align: center;

  }

  a {
      color: currentColor;
      cursor: pointer;
      text-decoration: none;
  }

  /* 2. Shared */
  .parallax1 {
      min-height: 100%;
  }

  .parallax2 {
      background: url(img/polkaDotslights.png);
      min-height: 100%;
  }

  .parallax3 {
      background: url(img/bart.jpg);
      min-height: 100%;
  }

  .parallax4 {
      min-height: 100%;

  }

  /* 3. Specific */
  #TurnTablevideo {

      z-index: -1;
  }

  #Baybridge {

      z-index: -1;
  }

  .parallax1,
  .parallax2,
  .parallax3,
  .parallax4 {
      position: relative;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
  }

  /* 4. Responsiveness */

  @media only screen and (max-device-width: 1366px) {

      .parallax1,
      .parallax2,
      .parallax3,
      .parallax4 {
          position: relative;
          background-position: center;
          background-size: auto;
          background-repeat: no-repeat;
          background-attachment: scroll;
      }
  }

  @media (max-width: 767px) {


      #TurnTablevideo {
          display: none;
      }

      #Baybridge {
          display: none;
      }

      .parallax1 {
          background-image: url(img/turntabletruntable.png);

      }

      .parallax4 {
          background-image: url(img/baybridgecrop.png);
          min-height: 100%;

      }
  }
  }