  /* 1. Base */
  body,
  html {
      height: 100%;
      margin: 0;
      font-family: 'Lato', 'Ubuntu',
          sans-serif;
      line-height: 160%;
      text-align: center;

  }

  a {
      color: currentColor;
      cursor: pointer;
      text-decoration: none;
  }

  h1 h2 h3 h4 h5 h6 {
      font-family: Georgia, Times, 'Times New Roman', serif;
  }



  /* 2. Shared */


  .parallax1 {
      min-height: 100%;
  }



  .parallax2 {
      background: url(img/polkaDotslights.png);
      height: 532px;
  }

  .parallax3 {
      background: url(img/bart.jpg);
      height: 532px;
  }

  .parallax4 {
      min-height: 100%;

  }

  /* 3. Specific */


  #Baybridge {

      z-index: -1;
  }


  .section {
      position: relative;
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
  }

  #intro {
      top: 0;
      text-align: right;
      font: bold;
      font-family: Lato-BoldItalic;
      font-size: 2em;
      line-height: 110%;
      color: white;
      z-index: 1;
      align-self: flex-start;
      left: 0;
      top: 0;
      padding-top: 20px;
      padding-left: 30px;
      position: absolute;

  }



  #TurnTablevideo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100;

  }



  .parallax1,
  .parallax2,
  .parallax3,
  .parallax4 {
      position: relative;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
  }

  /* 4. Responsiveness */


  @media only screen and (max-device-width: 1366px) {
      .parallax2 {
          background: url(img/polkaDotslights.png);
          height: 532px;

      }

      .parallax3 {
          background: url(img/bart.jpg);
          height: 532px;

      }

      .parallax1,
      .parallax2,
      .parallax3,
      .parallax4 {
          position: relative;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          background-attachment: scroll;
      }

  }

  @media (max-width: 767px) {



      #TurnTablevideo {
          display: none;
      }

      #Baybridge {
          display: none;
      }

      .parallax1 {
          background-image: url(img/turntabletruntable.png);

      }

      .parallax4 {
          background-image: url(img/baybridgecrop.png);
          min-height: 100%;

      }
  }