/* 1. Base */
body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Lato', 'Ubuntu',
        sans-serif;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    min-height: 100vh;
    min-width: 300px;
    overflow-x: hidden;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    scroll-behavior: smooth;
}


a {
    color: currentColor;
    cursor: pointer;
    text-decoration: none;

}

a:hover {
    background-color: rgba(46, 49, 49, 0.5)
}

h1 {
    font-family: Georgia;
    font-size: 36px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    text-align: center;
}

h3 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

hr.linenav {
    border: 2px solid white;
}

p {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

blockquote {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}


pre {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}



/* 2. Shared */

.content {
    display: flex;
    position: relative;
    min-height: 100%;
}

.flip-card {
    flex: 0 1 24%;
}


.parallax1 {
    min-height: 40%;
    background-color: black;


}



.parallax2 {
    background: url(img/polkaDotslights.png);
    height: 532px;
}

.parallax3 {
    background: url(img/bart.jpg);
    height: 532px;

}

.parallax4 {
    min-height: 100%;
}

.parallax5 {
    background: url(img/shoes.png);
    height: 532px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.typeeffect {
    position: absolute;
    bottom: 30px;
    left: 16px;
    z-index: 3;
}

.typewrite {
    color: white;
    font-family: 'Lato',
        'Ubuntu',
        sans-serif;
    cursor: pointer;
    text-decoration: none;
    font-size: 2em;
}










/* 3. Specific */


#Baybridge {

    z-index: -1;
}



#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px 'Lato',
        'Ubuntu',
        sans-serif;
}

#contact {

    padding: 25px;

}




fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
    width: 100%;
    border: 1px solid #CCC;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #AAA;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    text-align: left;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #323232;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background: #323232;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #999;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}


.bottom {
    font-size: 10em;
    color: white;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -50px;
    z-index: 3;
}



input[type=text],
select,
textarea {
    width: 90%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: white;
    color: white;
    padding: 20px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: grey;
}


.content {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    min-height: 40vh;
    position: relative;
    width: 90%;
    overflow: hidden;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 200%;
    background-color: black;
    color: black;
    text-align: center;
}

#info {
    font-size: 2em;
}


.intro {
    padding-top: 10px;
    padding-left: 10px;
    text-align: right;
    font-family: 'Lato',
        'Ubuntu',
        sans-serif;

    color: white;
    z-index: 1;
}

.intro p {
    font-family: Lato-BoldItalic;
    font-size: 2em;
    line-height: 110%;
}

.intro #sig {
    font-family: Satisfy,
        Lato-BoldItalic;
    font-size: 2em;
    line-height: 110%;
}

nav {
    font-family: Georgia,
        Times,
        "Times New Roman",
        serif;
    font-size: 2em;
    position: absolute;
    z-index: 2;
    padding-right: 0px;
    padding-left: 400px;
    padding-top: 300px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;

}

nav ul li a {

    display: block;
    color: white;
    padding-inline-start: 60px;
    padding-inline-end: 60px;
}




.picture {
    position: left;
    width: 100%;
}

.picture-shadow {
    border-radius: 290486px;
    background-image: radial-gradient(#000 0%, rgba(0, 0, 0, 0) 70%);
    position: absolute;
}

.picture-image {
    border-radius: 07301983px;

}


.section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}





.social {
    display: flex;
    margin-top: 1.5rem;
}

.social li {
    height: 3rem;
    margin-right: 0.5rem;
    text-align: center;
    width: 3rem;
}

.social a {
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    height: 3rem;
    justify-content: center;
    transition-property: opacity, transform;
    width: 3rem;
    will-change: opacity, transform;
}

.side {
    flex-grow: 0;
    flex-shrink: 0;
    height: 20rem;
    margin-right: 4rem;
    order: 0;
    width: 20rem;
    padding-left: 3em;
}

.socialP {
    display: flex;
    color: #FFF;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

.socialP li {
    height: 3rem;
    margin-right: 0.5rem;
    text-align: center;
    width: 3rem;
}

.socialP a {
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    height: 3rem;
    justify-content: center;
    transition-property: opacity, transform;
    width: 3rem;
    will-change: opacity, transform;
}




#about_p {
    word-wrap: break-word;
    text-align: left;

    font-family: Lato-Regular;
    font-size: 16pt;
    font-stretch: expanded;

    color: #090909;
    letter-spacing: 1px;
    max-width: 1040px;

}




#TurnTablevideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

}



.parallax1,
.parallax2,
.parallax3,
.parallax4,
.parallax5 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* 4. Responsiveness */

@media only screen and (max-device-width: 1485px) {
    nav {
        display: none;
    }
}

@media only screen and (max-device-width: 1366px) {

    #TurnTablevideo {
        position: absolute;
        top: 0;
        left: 0;
        width: 200vh;
    }

    .parallax2 {
        background: url(img/polkaDotslights.png);
        height: 532px;

    }

    .parallax3 {
        background: url(img/bart.jpg);
        height: 532px;

    }

    .parallax5 {
        height: 532px;
    }

    .parallax1,
    .parallax2,
    .parallax3,
    .parallax4,
    .parallax5 {
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: inherit;
    }

}


@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) {
    nav {
        display: none;
    }
}

@media (max-width: 799px) {
    .about {
        padding: 20px;
        flex-grow: 0;
        flex-shrink: 1;
    }



    .intro p {
        font-family: Lato-BoldItalic;
        font-size: 1em;
        line-height: 110%;
    }

    .intro #sig {
        font-family: Satisfy,
            Lato-BoldItalic;
        font-size: 1em;
        line-height: 110%;
    }


    .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem 2rem;
    }

    .flip-card {
        flex: 0 1;
        padding: 10px;
        justify-content: center;
        align-items: center;


    }

    nav {
        display: none;
    }

    .side {
        flex-grow: 0;
        flex-shrink: 0;
        height: 20rem;
        margin-right: 4rem;
        order: 0;
        width: 20rem;
        padding-left: 3em;
    }


    #TurnTablevideo {
        display: none;
    }

    #Baybridge {
        display: none;
    }

    .projects {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }


    .parallax1 {
        background-image: url(img/turntabletruntable.png);
        min-height: 100%;
    }

    .parallax2 {
        display: none;
    }

    .parallax3 {
        display: none;
    }

    .parallax4 {
        display: none;

    }

    .parallax5 {
        min-height: 100%;

    }

    .parallax5 {
        height: 532px;
    }

    .parallax1,
    .parallax2,
    .parallax3,
    .parallax4,
    .parallax5 {
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }

}
}